<link rel="stylesheet" href="/public/css/footer.css">
<footer class="footer custom-footer">
    <div class="container container-border">
        <div class="row row-padding-bottom">
            <div class="col-md-4">
                <div class="form-group col-md-12">
                    <span class="footer-info">Về chúng tôi</span>
                </div>
                <div class="form-group col-md-12">
                    <span class="footer-info">Liên hệ</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group col-md-12">
                    <span class="footer-info">Điều khoản sử dụng</span>
                </div>
                <div class="form-group col-md-12">
                    <span class="footer-info">Thỏa thuận người dùng</span>
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <div class="form-group col-md-12">
                    <span class="footer-info">Câu chuyện Explore</span>
                </div>
                <div class="form-group col-md-12">
                    <span class="footer-info">Hoạt động</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-padding" style="text-align: center;">
        <div class="facebook col-6 col-md-6">
            <a style="color: #000;" href="https://www.facebook.com/profile.php?id=100006647792868">
                <i class="link fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
        <div class="insta col-6 col-md-6">
            <a style="color: #000;" href="https://www.instagram.com/htuan____/">
                <i class="link fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row row-padding" style="text-align: center;">
        <div class="col-md-12">
            <span>© Copyright 2020 | Designed by: <a href="https://www.facebook.com/profile.php?id=100006647792868">NHT</a></span>
        </div>
    </div>
    <button class="scrollToTopBtn">☝️</button>
</footer>

<script>
    var istoTop = true;
    function toTop(){
        var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
        var rootElement = document.documentElement

        function handleScroll() {
        // Do something on scroll
        var scrollTotal = rootElement.scrollHeight - rootElement.clientHeight
        if ((rootElement.scrollTop / scrollTotal ) > 0.15) {
            // Show button
            scrollToTopBtn.classList.add("showBtn")
        } else {
            // Hide button
            scrollToTopBtn.classList.remove("showBtn")
        }
        }

        function scrollToTop() {
        // Scroll to top logic
        rootElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
        }
        scrollToTopBtn.addEventListener("click", scrollToTop)
        document.addEventListener("scroll", handleScroll)
    }
</script>