<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel</title>
        <link rel="stylesheet" href="public/css/home.css">
        <link rel="stylesheet" href="public/css/main.css">
    </head>
    <body>
        <%- include ("includes/header") %>
        <div class="container container-custom">
            <div class="row">
                <div class="col-md-12 padxx header-title">
                    <span class="header-title">Hôm nay đi đâu - Để Explore lo</span>
                </div>
                <div class="container padxxx">
                    <div class="row">
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe7ff6516157f113cc65122" class="pad media" data-fancybox="gallery">
                                <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Sài Gòn</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a class="pad media" data-fancybox="gallery" href="/group/5fe7ffd516157f113cc65123">
                                <img src="public/img/dalat.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Đà Lạt</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe7fffe16157f113cc65124" class="pad media" data-fancybox="gallery">
                                <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Vũng tàu</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8002116157f113cc65125" class="pad media" data-fancybox="gallery">
                                <img src="public/img/phanthiet.jpg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Phan Thiết</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8003a16157f113cc65126" class="pad media" data-fancybox="gallery">
                                <img src="public/img/hanoi.jpg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Hà Nội</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padxx header-title">
                    <a title="Danh sách all Tour" class="header-title" style="color: #000;" href="/allTour">Những chuyến đi sắp diễn ra</a>
                </div>
                <div class="container padxxx">
                    <div class="row" id="showAllTour">
                        
                    </div>
                    <!-- <span id="ismember"></span> -->
                </div>
                <div class="col-md-12 padxx header-title">
                    <span class="header-title">Coffee</span>
                </div>
                <div class="container padxxx">
                    <div class="row">
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8005716157f113cc65127" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfhenho.jpeg" alt="Image" class="img-fluid-home">

                            </a>
                            <div class="title">
                                <span>Cà phê hẹn hò</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8006416157f113cc65128" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfdocsach.jpeg" alt="Image" class="img-fluid-home">
      
                            </a>
                            <div class="title">
                                <span>Cà phê đọc sách</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8007216157f113cc65129" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cafe24.jpeg" alt="Image" class="img-fluid-home">
      
                            </a>
                            <div class="title">
                                <span>Cà phê 24/24</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8007e16157f113cc6512a" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfsongao.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Cà phê sống ảo</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8009216157f113cc6512b" class="pad media" data-fancybox="gallery">
                                <img src="public/img/coffee.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Cà phê làm việc</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-12 header-title">
                    <span class="header-title">Đề xuất</span>
                </div>
                <div class="col-md-12 hidden-xs nav-table">
                    <ul class="col-md-12 nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">Tất cả</a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sea" role="tab" aria-controls="profile" aria-selected="false">Biển</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#montain" role="tab" aria-controls="contact" aria-selected="false">Núi</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#near" role="tab" aria-controls="contact" aria-selected="false">Gần bạn</a>
                        </li> -->
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row" id="allPost">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sea" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                SAIGON WATER BUS: Đây là tuyến Xe bus đường sông bắt đầu từ Bến Bạch Đằng (Quận 1, TP HCM) đi Bình an, Thanh Đa, H.B. Chánh và Bến Linh Đông.
                
                                                Địa điểm: 10B Tôn Đức Thắng, phường Bến Nghé, Quận 1, TpHCM
                                                
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Giá tiền: 15k cho 1 chặng thôi á. Đi và về là 30k nhé.
                                                Chú ý: 15k các bạn có thể ghé bến nào cũng dc. Nhớ là xuống bến nào thì khứ hồi phải mua bến đó. Còn không các bạn đến nơi rồi hãy mua vé về. Đừng như mình nha 😂😂 mua khứ hồi thanh đa mà ghé Bình An 🤧
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Sài gòn water bus</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="montain" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/dalat.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                        
                                                <span class="category">
                                                    @dreamershomecoffee vừa là quán cà phê và homestay🥰 hôm đó Viv định book ở đây nhưng mà full mất tiêu rồi🥺 mặc dù book trước 1 tuần, thế nên đã ở resort trong Hồ Tuyền Lâm. Đường đi vào là một con hẻm khá to (xe oto vào được nhe) Menu quán cũng như bao quán thui, nhưng quán có sữa chua cà phê cũng khá lạ và ngon, sữa chua là ice cubes và ly cà phê riêng. Cappuccino vị uki nhưng mà mẹ Viv rất là khoái bánh chuối ở đây luôn nhaaa🥳 bánh thơm phức và thành bánh giòn. Từ ống hút đến cái muỗng đều rất thân thiện với môi trường. Ở đây các bạn sẽ tự phục vụ nhé😂 bưng caphe xuống và dọn lên👍🏻. View rất okiii, ko có nhà xung quanh chỉ là cây cối thoiii. Ở đây nổi tiếng với view chụp cây đàn, rất đẹpp luônnn🎹 .
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Một góc nhỏ Đạ lạt chill cùng người yêu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                        
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="near" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                SAIGON WATER BUS: Đây là tuyến Xe bus đường sông bắt đầu từ Bến Bạch Đằng (Quận 1, TP HCM) đi Bình an, Thanh Đa, H.B. Chánh và Bến Linh Đông.
                
                                                Địa điểm: 10B Tôn Đức Thắng, phường Bến Nghé, Quận 1, TpHCM
                                                
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Giá tiền: 15k cho 1 chặng thôi á. Đi và về là 30k nhé.
                                                Chú ý: 15k các bạn có thể ghé bến nào cũng dc. Nhớ là xuống bến nào thì khứ hồi phải mua bến đó. Còn không các bạn đến nơi rồi hãy mua vé về. Đừng như mình nha 😂😂 mua khứ hồi thanh đa mà ghé Bình An 🤧
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Sài gòn water bus</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include ("includes/footer") %>
    </body>
    <script>
        var isAll = true;
        function showAll(){
            var ajax = new XMLHttpRequest();
            ajax.open("GET", "/getAllPosts", true);

            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html="";
                    for (var a = 0; a < response.data.length; a++) {
                        var data = response.data[a];
                        if(data.image != ""){
                            html+='<div class="form-group blog-review col-md-6 col-lg-4">';
                                html+='<a href="' + mainURL + "/post/" + data._id + '" class="media-1" data-fancybox="gallery">';
                                    html+='<img src="' + mainURL + "/" + data.image + '" alt="Image" class="img-fluid">';
                                    html+='<div class="media-1-content">';
                                        html+='<span class="category">';
                                            html += data.content;
                                        html+='</span>';
                                    html+='</div>';
                                html+='</a>'
                                html+='<div class="title">';
                                    html+='<span>';
                                        html+=data.caption;
                                    html+='</span>';
                                html+=' </div>';
                                html+='<div class="amount-post pad">';
                                    html+='<span>';
                                        if(data.uploader){
                                            html+=data.uploader.name;
                                        }
                                        else{
                                            html+=data.user.name;
                                        }
                                    html+='</span>';
                                html+='</div>';
                            html+='</div>';
                        }
                        else{

                        }   
                    }
                    document.getElementById('allPost').innerHTML = html;
                }
            }
            var formData = new FormData();
            formData.append("accessToken", localStorage.getItem("accessToken"));
            ajax.send(formData);
        }

        var isAllShowTour = true;
        function showAllTour(){
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getrandomTours", true);

            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    console.log(response);
                    var html="";
                    var isMember = false;
                    for (var a = 0; a < response.data.length; a++) {
                        var data = response.data[a];
                        console.log(data);
                        html+='<div class="form-group blog-review pt">'
                            html+='<a href="' + mainURL + "/tour/" + data._id + '" class="pad media-1" data-fancybox="gallery">';
                                html+='<img src=" ' + data.image + '" alt="Image" class="img-fluid-home">';
                                html+='<div class="media-1-content">';
                                    html+='<span class="category">';
                                        html+='Team: ' + data.tenChuyenDi;
                                        html+='<br>'
                                        html+='Phượt từ ' + data.thoiGianBatDau + ' đến ' + data.thoiGianKetThuc;
                                        html+='<br>'
                                        html+='<span>Nhấn vào icon bên dưới để phượt cùng mình nhé!!!</span>'
                                    html+='</span>'
                                html+='</div>'
                            html+='</a>'
                            for (var b = 0; b < data.members.length; b++){
                                console.log(data.members.length);
                                console.log(user._id);
                                var member = data.members[b];
                                if (member._id.toString() == user._id.toString()){
                                    isMember = true;
                                    html+='<i title="Đang trong tour phượt" class="far fa-paper-plane" href="javascript:void(0);" data-id="'+ data._id +'"onclick="toggleJoinTour(this);"> Đang phượt</i>';
                                    break;
                                }
                                if(b == data.members.length - 1){
                                    html+='<i title="Xin vào phượt cùng" class="far fa-paper-plane" href="javascript:void(0);" data-id="'+ data._id +'"onclick="toggleJoinTour(this);"> Xin vào</i>';
                                }
                            }
                            html+='<div class="title">'
                                html+= data.diemBatDau + ' - ' + data.diemKetThuc;
                            html+='</div>'
                        html+='</div>'
                    }
                    document.getElementById('showAllTour').innerHTML = html;
                }
            }
            var formData = new FormData();
            formData.append("accessToken", localStorage.getItem("accessToken"));
            ajax.send(formData);
        }
    
        function toggleJoinTour(self){
            var ajax = new XMLHttpRequest();
            ajax.open("POST","/toggleJoinTour",true);

            ajax.onreadystatechange=function(){
                if (this.readyState==4&&this.status==200){
                    var response = JSON.parse(this.responseText);

                    if(response.status=="success"){
                        self.className = "add-butn btn-unfriend";
                        self.innerHTML = "Leave";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã tham gia nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }
                    if (response.status == "leaved"){
                        self.className = "add-butn";
                        self.innerHTML = "Join";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã rời nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }

                    if (response.status == "error") {
                        Swal.fire({
                            title: 'Error!',
                            text: response.message,
                            icon: 'error',
                            timer: 2500
                        })
                    }
                }
            };
            var formData = new FormData();
            formData.append("accessToken",localStorage.getItem("accessToken"));
            formData.append("_id", self.getAttribute("data-id"));
            ajax.send(formData);
        }


        var isCheckLogin = true;
        function CheckLogin(){
            setTimeout(function() {
                $("#mainNote").modal("show");
            }, 500);	
        }
    </script>
    <div class="modal col-12 fade" id="mainNote" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chào mừng bạn đến với website du lịch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <span>Vui lòng đăng nhập để tiếp tục sử dụng dịch vụ</span>
                    <a href="/login" class="nav-link pr-0 leading-none">
                        <button class="button" style="float: right;" type="submit">
                            Go to Login
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</html>

