<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel</title>
        <link rel="stylesheet" href="public/css/home.css">
        <link rel="stylesheet" href="public/css/main.css">
    </head>
    <body>
        <%- include ("includes/header") %>
        <div class="container hidden-xs container-custom">
            <div class="row">
                <div class="col-md-12 padxx header-title">
                    <span class="header-title">Hôm nay đi đâu - Để Explore lo</span>
                </div>
                <div class="container padxxx">
                    <div class="row">
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe7ff6516157f113cc65122" class="pad media" data-fancybox="gallery">
                                <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Sài Gòn</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a class="pad media" data-fancybox="gallery" href="/group/5fe7ffd516157f113cc65123">
                                <img src="public/img/dalat.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Đà Lạt</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe7fffe16157f113cc65124" class="pad media" data-fancybox="gallery">
                                <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Vũng tàu</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8002116157f113cc65125" class="pad media" data-fancybox="gallery">
                                <img src="public/img/phanthiet.jpg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Phan Thiết</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8003a16157f113cc65126" class="pad media" data-fancybox="gallery">
                                <img src="public/img/hanoi.jpg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Hà Nội</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padxx header-title">
                    <span class="header-title">Những chuyến đi sắp diễn ra</span>
                </div>
                <div class="container padxxx">
                    <div class="row" id="showAllTour">
                        
                    </div>
                    <!-- <span id="ismember"></span> -->
                </div>
                <div class="col-md-12 padxx header-title">
                    <span class="header-title">Coffee</span>
                </div>
                <div class="container padxxx">
                    <div class="row">
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8005716157f113cc65127" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfhenho.jpeg" alt="Image" class="img-fluid-home">

                            </a>
                            <div class="title">
                                <span>Cà phê hẹn hò</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8006416157f113cc65128" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfdocsach.jpeg" alt="Image" class="img-fluid-home">
      
                            </a>
                            <div class="title">
                                <span>Cà phê đọc sách</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8007216157f113cc65129" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cafe24.jpeg" alt="Image" class="img-fluid-home">
      
                            </a>
                            <div class="title">
                                <span>Cà phê 24/24</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8007e16157f113cc6512a" class="pad media" data-fancybox="gallery">
                                <img src="public/img/cfsongao.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Cà phê sống ảo</span>
                            </div>
                        </div>
                        <div class="form-group blog-review pt">
                            <a href="/group/5fe8009216157f113cc6512b" class="pad media" data-fancybox="gallery">
                                <img src="public/img/coffee.jpeg" alt="Image" class="img-fluid-home">
                            </a>
                            <div class="title">
                                <span>Cà phê làm việc</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-12 header-title">
                    <span class="header-title">Đề xuất</span>
                </div>
                <div class="col-md-12 nav-table">
                    <ul class="col-md-12 nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">Tất cả</a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sea" role="tab" aria-controls="profile" aria-selected="false">Biển</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#montain" role="tab" aria-controls="contact" aria-selected="false">Núi</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#near" role="tab" aria-controls="contact" aria-selected="false">Gần bạn</a>
                        </li> -->
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row" id="allPost">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sea" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                SAIGON WATER BUS: Đây là tuyến Xe bus đường sông bắt đầu từ Bến Bạch Đằng (Quận 1, TP HCM) đi Bình an, Thanh Đa, H.B. Chánh và Bến Linh Đông.
                
                                                Địa điểm: 10B Tôn Đức Thắng, phường Bến Nghé, Quận 1, TpHCM
                                                
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Giá tiền: 15k cho 1 chặng thôi á. Đi và về là 30k nhé.
                                                Chú ý: 15k các bạn có thể ghé bến nào cũng dc. Nhớ là xuống bến nào thì khứ hồi phải mua bến đó. Còn không các bạn đến nơi rồi hãy mua vé về. Đừng như mình nha 😂😂 mua khứ hồi thanh đa mà ghé Bình An 🤧
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Sài gòn water bus</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="montain" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/dalat.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                        
                                                <span class="category">
                                                    @dreamershomecoffee vừa là quán cà phê và homestay🥰 hôm đó Viv định book ở đây nhưng mà full mất tiêu rồi🥺 mặc dù book trước 1 tuần, thế nên đã ở resort trong Hồ Tuyền Lâm. Đường đi vào là một con hẻm khá to (xe oto vào được nhe) Menu quán cũng như bao quán thui, nhưng quán có sữa chua cà phê cũng khá lạ và ngon, sữa chua là ice cubes và ly cà phê riêng. Cappuccino vị uki nhưng mà mẹ Viv rất là khoái bánh chuối ở đây luôn nhaaa🥳 bánh thơm phức và thành bánh giòn. Từ ống hút đến cái muỗng đều rất thân thiện với môi trường. Ở đây các bạn sẽ tự phục vụ nhé😂 bưng caphe xuống và dọn lên👍🏻. View rất okiii, ko có nhà xung quanh chỉ là cây cối thoiii. Ở đây nổi tiếng với view chụp cây đàn, rất đẹpp luônnn🎹 .
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Một góc nhỏ Đạ lạt chill cùng người yêu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                        
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="near" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container-custom">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/saigon.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                SAIGON WATER BUS: Đây là tuyến Xe bus đường sông bắt đầu từ Bến Bạch Đằng (Quận 1, TP HCM) đi Bình an, Thanh Đa, H.B. Chánh và Bến Linh Đông.
                
                                                Địa điểm: 10B Tôn Đức Thắng, phường Bến Nghé, Quận 1, TpHCM
                                                
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Giá tiền: 15k cho 1 chặng thôi á. Đi và về là 30k nhé.
                                                Chú ý: 15k các bạn có thể ghé bến nào cũng dc. Nhớ là xuống bến nào thì khứ hồi phải mua bến đó. Còn không các bạn đến nơi rồi hãy mua vé về. Đừng như mình nha 😂😂 mua khứ hồi thanh đa mà ghé Bình An 🤧
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Sài gòn water bus</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                                    <div class="form-group blog-review col-md-6 col-lg-4">
                                        <a routerLink="/blog" routerLinkActive="active" class="media-1" data-fancybox="gallery">
                                            <img src="public/img/vungtau.jpeg" alt="Image" class="img-fluid">
                                            <div class="media-1-content">
                                    
                                                <span class="category">
                                                    Review một chút xíu xìu xiu về chuyến Vũng Tàu Mộng Mơ của hai đứa mình 🌈
                Đây là khách sạn Corvin. Ks Corvin và ks Nolis là chung 1 chủ nha 🎉 (mn có thể search gg vì đường đi rất dễ) Ks nằm ở bãi sau, gần với ngọn hải đăng, tượng kito, và rất nhiều địa điểm ăn uống khác nữa nha.. Ks có nhiều phòng ở nhiều mức giá mn có thể tham khảo qua page của ks nha 🙆🏻‍♀️
                Phòng mình là phòng 701 view hướng biển-2 người. Rất đầy đủ tiện nghi nhaaaaaaaaaa.
                Nếu các bạn muốn đón mặt trời mọc nhưng quá lười phải ra tận biển thì các bạn có thể chọn phòng giống mình, rất ư là tuyệt nha (nếu được ngắm bình minh cùng người yêu nữa thì còn gì bằng) 😘⛅️
                                                </span>
                                            </div>
                                        </a>
                                        <div class="title">
                                            <span>Hoàng hôn ở Vũng tàu</span>
                                        </div>
                                        <div class="amount-post">
                                            <span>Nguyễn Hoàng Tuấn</span>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container visible-xs container-custom">
            <div class="row">
                <div class="col-md-12 header-title" style="padding-top: 0;">
                    <span class="header-title">Hôm nay đi đâu? Để Explore lo</span>
                </div>
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row row-custom">
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/vungtau.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Vũng tàu</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/dalat.png" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Đà lạt</span>
                                        <p class="card-text">15 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/nhatrang.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Nha trang</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb hidden-tab col-6 form-group col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/phanthiet.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Phan Thiết</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row row-custom">
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                            <img class="card-img-top" src="public/img/vungtau.jpg" alt="Card image cap">
                                            <div class="card-body">
                                            <span class="card-title">Vũng tàu</span>
                                            <p class="card-text">10 bài viết</p>
                                            </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                            <img class="card-img-top" src="public/img/dalat.png" alt="Card image cap">
                                            <div class="card-body">
                                            <span class="card-title">Đà lạt</span>
                                            <p class="card-text">15 bài viết</p>
                                            </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/nhatrang.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Nha trang</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 hidden-tab col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/phanthiet.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Phan Thiết</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="hidden-xs carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <svg style="color: black;height: 20px;width: 20px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                            </svg>
                        </a>
                        <a class="hidden-xs carousel-control-next" href="#myCarousel" data-slide="next">
                            <svg style="color: black;height: 20px;width: 20px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 header-title">
                    <span class="header-title">Coffee</span>
                </div>
                <div class="col-md-12">
                    <div id="Category" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row row-custom">
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfhenho.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê hẹn hò</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfdocsach.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê đọc sách</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cafe24.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê 24/24</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfsongao.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê sống ảo</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row row-custom">
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfthucung.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê thú cưng</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfhenho.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê hẹn hò</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cfdocsach.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê đọc sách</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                    <div class="card-mb form-group col-6 col-lg-2 col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="public/img/cafe24.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                        <span class="card-title">Cà phê 24/24</span>
                                        <p class="card-text">10 bài viết</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="hidden-xs carousel-control-prev" href="#Category" data-slide="prev">
                            <svg style="color: black;height: 20px;width: 20px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                            </svg>
                        </a>
                        <a class="hidden-xs carousel-control-next" href="#Category" data-slide="next">
                            <svg style="color: black;height: 20px;width: 20px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 header-title">
                    <span class="header-title">Đề xuất</span>
                </div>
                <div class="col-12">
                    <ul class="row col-md-12">
                        <li class="col-md-2 col-3 col-lg-1">
                            <span class="suggest active">
                                Tất cả
                            </span>
                        </li>
                        <li class="col-md-2 col-3 col-lg-1">
                            <span class="suggest">
                                Biển
                            </span>
                        </li>
                        <li class="col-md-2 col-3 col-lg-1">
                            <span class="suggest">
                                Núi
                            </span>
                        </li>
                        <li class="col-md-2 col-3 col-lg-1">
                            <span class="suggest">
                                Trending
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="form-group blog-review">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
                                        <span class="avatar" style="background-image: url(./public/img/dalat.jpeg)"></span>
                                        <span class="ml-2 d-none d-lg-block">
                                            <span class="text-default">
                                                Nguyễn Hoàng Tuấn 
                                                <button class="btn btn-primary">
                                                    Theo dõi
                                                </button>
                                            </span>
                                            <small class="text-muted d-block mt-1">20:30 ngày 21/09 tại Đà lạt</small>
                                        </span>
                                        <span class="text-default col-8">Nguyễn Hoàng Tuấn</span>
                                    </a>
                                </div>
                                <a style="text-decoration: none;" class="a-custom-header" routerLink="/blog" routerLinkActive="active">
                                    <img class="card-img-custom" src="./public/img/saigon.jpeg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="like col-4">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="share">
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <div class="count-like">
                                            70 lượt thích
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <span class="user">
                                                Nguyễn Hoàng Tuấn
                                            </span>
                                            <span class="description col-12">
                                                SAIGON WATER BUS: Đây là tuyến Xe bus đường sông bắt đầu từ Bến Bạch Đằng (Quận 1, TP HCM) đi Bình an, Thanh Đa, H.B. Chánh và Bến Linh Đông.
                
                                                Địa điểm: 10B Tôn Đức Thắng, phường Bến Nghé, Quận 1, TpHCM
                
                                                Điểm gửi xe: Từ cổng chào WaterBus, các bạn chạy lên một chút sẽ thấy bãi giữ xe nhé phí 4k
                                                Giá tiền: 15k cho 1 chặng thôi á. Đi và về là 30k nhé.
                                                Chú ý: 15k các bạn có thể ghé bến nào cũng dc. Nhớ là xuống bến nào thì khứ hồi phải mua bến đó. Còn không các bạn đến nơi rồi hãy mua vé về. Đừng như mình nha 😂😂 mua khứ hồi thanh đa mà ghé Bình An 🤧
                
                                                Có nhiều mốc thời gian khởi hành cho bạn chọn, nhưng theo mình bạn nên đi vào tầm sáng sớm cho mát hoặc đi vào buổi tối để hưởng không khí lãng mạn khi hoàng hôn buông xuống.
                
                                                Mình chọn đi từ bến Bạch đằng đến Bình An ( ngay đối diện Landmark 81) tha hồ chụp hình sống ảo 😆😆 có nhiều quán nước lề đường ( mát mẻ, sạch sẽ) để nghỉ ngơi ngắm cảnh sông nước và landmark. Giá cũng ko rẻ lắm ạ hihi ( 2 dừa, 2 lon nc ngọt 113k)
                
                                                Khi đi Water Bus bạn sẽ có cơ hội ngắm sông Sài Gòn trọn vẹn nhất cùng những tòa nhà cao tầng đơn cử là toà Landmark rất thơ mộng và mát mẻ. Một trải nghiệm thú vị 👍👍
                                                #saigonwaterbus
                                                #checkinsaigon
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="comment col-10">
                                                <input type="text" class="input-field" placeholder="Viết bình luận">
                                            </div>
                                            <div class="col-2">
                                                <span class="post">Post</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group blog-review">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
                                        <span class="avatar" style="background-image: url(./public/img/dalat.jpeg)"></span>
                                        <span class="ml-2 d-none d-lg-block">
                                            <span class="text-default">
                                                Nguyễn Hoàng Tuấn 
                                                <button class="btn btn-primary">
                                                    Theo dõi
                                                </button>
                                            </span>
                                            <small class="text-muted d-block mt-1">20:30 ngày 21/09 tại Đà lạt</small>
                                        </span>
                                        <span class="text-default col-8">Nguyễn Hoàng Tuấn</span>
                                    </a>
                                </div>
                                <img class="card-img-custom" src="./public/img/dalat.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="like col-4">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="share">
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <div class="count-like">
                                            70 lượt thích
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <span class="user">
                                                Nguyễn Hoàng Tuấn
                                            </span>
                                            <span class="description col-12">
                                                Không hổ danh là “thành phố sống ảo”, Đà Lạt hết mực chiều lòng du khách khi liên tục cho ra đời những mô hình du lịch độc đáo mà cứ 1 mét vuông lại có thể cho ra đời nghìn tấm ảnh triệu like. Trong đó phải nhắc đến quán cà phê khiêm luôn homestay “A place like no other” đẹp như mơ và có thể ngắm Đà Lạt trên cao siêu đẹp.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="comment col-10">
                                                <input type="text" class="input-field" placeholder="Viết bình luận">
                                            </div>
                                            <div class="col-2">
                                                <span class="post">Post</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group blog-review">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
                                        <span class="avatar" style="background-image: url(./public/img/vungtau.jpeg)"></span>
                                        <span class="ml-2 d-none d-lg-block">
                                            <span class="text-default">
                                                Nguyễn Hoàng Tuấn 
                                                <button class="btn btn-primary">
                                                    Theo dõi
                                                </button>
                                            </span>
                                            <small class="text-muted d-block mt-1">20:30 ngày 21/09 tại Đà lạt</small>
                                        </span>
                                        <span class="text-default col-8">Nguyễn Hoàng Tuấn</span>
                                    </a>
                                </div>
                                <img class="card-img-custom" src="./public/img/vungtau_1.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="like col-4">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="share">
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <div class="count-like">
                                            70 lượt thích
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <span class="user">
                                                Nguyễn Hoàng Tuấn
                                            </span>
                                            <span class="description col-12">
                                                𝑩𝒂̣𝒏 𝒄𝒐́ 𝒌𝒊̉ 𝒏𝒊𝒆̣̂𝒎 𝒈𝒊̀ 𝒗𝒐̛́𝒊 𝑽𝒖̃𝒏𝒈 𝑻𝒂̀𝒖 𝒌𝒉𝒐̂𝒏𝒈 ?
                
                                                Lúc vui, lúc buồn, mệt mỏi chán nản luôn tìm đến đây vì cảm thấy được bình yên ☁️
                
                                                💁‍♂️Mình vừa kết thúc chuyến đi Vũng Tàu 2 ngày 1 đêm của mình lần thứ n + 1 rồi, thực sự đến đây không còn là để trải nghiệm đồ ăn hay phong cảnh nữa, chỉ là vì cảm thấy, khi lòng ta buồn thì đến nơi đây như được trút bỏ mọi thứ, yên bình đến lạ, nhắm mắt tận hưởng gió biển thổi vào tóc, vào mắt, vào tay có thể cảm nhận được"hương vị" không nơi nào có được, 1 Vũng Tàu bình yên.
                
                                                🤔Khi đến đây điều mình nghĩ bạn nên làm ngay và luôn là đi ăn bánh khọt và lẩu cả đuối nè 🥘🥧 đây là 2 món đặc sản nơi này há há, còn bụng nữa thì ăn cháo lòng dưới chân dốc 🍛, chả hiểu sao ăn thấy ngon kinh khủng luôn🤤
                
                                                🥤Về nước uống thì Sơn Đăng quán là sự lựa chọn hợp lí nè, quán được xây trên đường lên Hải Đăng nên quan cảnh rất đẹp, có thể chụp ảnh, sf chỗ này là lung linh 🤩
                
                                                🌄Về địa điểm vui chơi thì phải đi leo Tượng chúa để trải nghiệm độ cao nè, ra mũi nghinh phong chụp hình cũng ngầu lắm luôn, tối tối lên hải đăng nhìn cả Vũng Tàu cũng là 1 ý tưởng không tồi 🌌
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="comment col-10">
                                                <input type="text" class="input-field" placeholder="Viết bình luận">
                                            </div>
                                            <div class="col-2">
                                                <span class="post">Post</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <%- include ("includes/footer") %>
    </body>
    <script>
        var isAll = true;
        function showAll(){
            var ajax = new XMLHttpRequest();
            ajax.open("GET", "/getAllPosts", true);

            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html="";
                    for (var a = 0; a < response.data.length; a++) {
                        var data = response.data[a];
                        if(data.image != ""){
                            html+='<div class="form-group blog-review col-md-6 col-lg-4">';
                                html+='<a href="' + mainURL + "/post/" + data._id + '" class="media-1" data-fancybox="gallery">';
                                    html+='<img src="' + mainURL + "/" + data.image + '" alt="Image" class="img-fluid">';
                                    html+='<div class="media-1-content">';
                                        html+='<span class="category">';
                                            html += data.content;
                                        html+='</span>';
                                    html+='</div>';
                                html+='</a>'
                                html+='<div class="title">';
                                    html+='<span>';
                                        html+=data.caption;
                                    html+='</span>';
                                html+=' </div>';
                                html+='<div class="amount-post pad">';
                                    html+='<span>';
                                        if(data.uploader){
                                            html+=data.uploader.name;
                                        }
                                        else{
                                            html+=data.user.name;
                                        }
                                    html+='</span>';
                                html+='</div>';
                            html+='</div>';
                        }
                        else{

                        }   
                    }
                    document.getElementById('allPost').innerHTML = html;
                }
            }
            var formData = new FormData();
            formData.append("accessToken", localStorage.getItem("accessToken"));
            ajax.send(formData);
        }

        var isAllShowTour = true;
        function showAllTour(){
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getrandomTours", true);

            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    console.log(response);
                    var html="";
                    for (var a = 0; a < response.data.length; a++) {
                        var data = response.data[a];
                        html+='<div class="form-group blog-review pt">'
                            html+='<a href="' + mainURL + "/tour/" + data._id + '" class="pad media-1" data-fancybox="gallery">';
                                html+='<img src="/public/img/saigon.jpeg" alt="Image" class="img-fluid-home">';
                                html+='<div class="media-1-content">';
                                    html+='<span class="category">';
                                        html+='Team: ' + data.tenChuyenDi;
                                        html+='<br>'
                                        html+='Phượt từ ngày ' + data.thoiGianBatDau + ' đến ngày ' + data.thoiGianKetThuc;
                                        html+='<br>'
                                        html+='<span id="ismember"></span>'
                                        // html+='<a style="text-decoration: none;">'
                                        //     html+=' <button id="ismember" class="button button-custom"></button>'
                                        // html+='</a>'
                                    html+='</span>'
                                html+='</div>'
                            html+='</a>'
                            html+='<div class="title">'
                                html+= data.diemBatDau + ' - ' + data.diemKetThuc;
                            html+='</div>'
                        html+='</div>'
                    }
                    document.getElementById('showAllTour').innerHTML = html;
                    var isMember = false;
                    for(var a=0; a < response.data.length; a++){
                        var data = response.data[a];
                        for (var b = 0; b < data.members.length; b++){
                            var member = data.members[b];
                            var textfollow = "";
                            if (member._id.toString()==user._id.toString()){
                                isMember = true;
                                textfollow+='<a href="javascript:void(0);"data-id="'+ data._id +'"onclick="toggleJoinTour(this);"class="add-butn btn-unfriend">Leave Tour</a>';
                                document.getElementById("ismember").innerHTML = textfollow;
                                break;
                            }
                            else{
                                textfollow+='<a href="javascript:void(0);"data-id="'+ data._id +'"onclick="toggleJoinTour(this);"class="add-butn">Join Tour</a>';
                                document.getElementById("ismember").innerHTML = textfollow;
                            }
                        }
                    }
                }
            }
            var formData = new FormData();
            formData.append("accessToken", localStorage.getItem("accessToken"));
            ajax.send(formData);
        }
    
        function toggleJoinTour(self){
            var ajax = new XMLHttpRequest();
            ajax.open("POST","/toggleJoinTour",true);

            ajax.onreadystatechange=function(){
                if (this.readyState==4&&this.status==200){
                    var response = JSON.parse(this.responseText);

                    if(response.status=="success"){
                        self.className = "add-butn btn-unfriend";
                        self.innerHTML = "Leave";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã tham gia nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }
                    if (response.status == "leaved"){
                        self.className = "add-butn";
                        self.innerHTML = "Join";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã rời nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }

                    if (response.status == "error") {
                        Swal.fire({
                            title: 'Error!',
                            text: response.message,
                            icon: 'error',
                            timer: 2500
                        })
                    }
                }
            };
            var formData = new FormData();
            formData.append("accessToken",localStorage.getItem("accessToken"));
            formData.append("_id", self.getAttribute("data-id"));
            ajax.send(formData);
        }
    </script>
</html>

