<link rel="stylesheet" href="public/css/main.css">
<link rel="stylesheet" href="public/css/location.css">
<%- include ("includes/header") %>
<div class="container">
    <div class="col-md-12 row form-group" style="padding-top: 10px;">
        <span class="title">Trang chủ/Vũng Tàu</span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card padxx">
                <div class="card-body">  
                    <a href="" class="nav-link pr-0 leading-none">
                        <span class="avatar" style="background-image: url(/public/img/vungtau.jpg)"></span>
                        <span class="col-md-8">
                            <span class="text-default">Vũng Tàu</span>
                            <div class="row">
                                <small class="text-muted col-md-6 col-lg-4 d-block mt-1">26 reviews</small>                                
                            </div>
                        </span>
                    </a>
                    <div class="row review">
                        <div class="text-muted col-md-2">
                            Thức ăn: 8.00
                        </div>
                        <div class="text-muted col-md-3">
                            Không gian: 8.00
                        </div>
                        <div class="text-muted col-md-2">
                            Giá: 8.00
                        </div>
                        <div class="text-muted col-md-2">
                            Dịch vụ: 8.00
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="row review">
                        <div class="col-md-1">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>                        
                        <span class="time">Giờ hoạt động: 24/7</span>
                    </div>
                    <div class="line"></div>
                    <div class="row review">
                        <div class="col-md-1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>                        
                        <span class="time">Phường 1, Thành phố Vũng Tàu, Bà Rịa - Vũng Tàu</span>
                    </div>
                    <div class="col-md-12 review">
                        <button type="button" class="button button-custom" style="float: left;">Viết bài</button>
                    </div>
                </div>                 
            </div>
            <div class="card padxx">
                <div class="card-header">
                    <a href="#" class="nav-link pr-0 leading-none">
                        <span class="avatar" style="background-image: url(/public/img/category/post1/img1.jpeg)"></span>
                        <span class="col-md-8">
                            <span class="text-default">
                                Nguyễn Hoàng Tuấn 
                                <button class="btn-cus">
                                    Theo dõi
                                </button>
                            </span>
                            <small class="text-muted d-block mt-1">20:30 ngày 21/09 tại Đà lạt</small>
                        </span>
                    </a>
                </div>
                <div class="media-wrapper row col-md-12">
                    <div class="col-4 group-bottom">
                        <div class="form-group">
                            <img class="card-img-top" src="/public/img/category/post1/img1.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group group-bottom">
                            <img class="card-img-top" src="/public/img/category/post1/img2.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group group-bottom">
                            <img class="card-img-top" src="/public/img/category/post1/img3.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-6 group-img">
                        <div class="form-group">
                        <img class="card-img-top" src="/public/img/category/post1/img4.jpeg" alt="Card image cap">
                            
                        </div>
                    </div>
                    <div class="col-6 group-img">
                        <div class="form-group">
                            <img class="card-img-top" src="/public/img/category/post1/img5.jpeg" alt="Card image cap">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="like col-md-2 col-lg-1">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </div>
                            <div class="share">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <div class="count-like">
                            70 lượt thích
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <span class="user">
                                Nguyễn Hoàng Tuấn
                            </span>
                            <span class="description col-lg-9">
                                <!-- Một quán phù hợp với sinh viên. Có thể chạy deadline cũng như chém gió với bạn bè, cũng là nơi thích hợp để hẹn hò với người yêu đấy.
                                Giá hợp lý và nước uống cũng rất ngon, có bán kèm đồ ăn nhé! -->
                                Không hổ danh là “thành phố sống ảo”, Đà Lạt hết mực chiều lòng du khách khi liên tục cho ra đời những mô hình du lịch độc đáo mà cứ 1 mét vuông lại có thể cho ra đời nghìn tấm ảnh triệu like. Trong đó phải nhắc đến quán cà phê khiêm luôn homestay “A place like no other” đẹp như mơ và có thể ngắm Đà Lạt trên cao siêu đẹp.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="comment col-md-10">
                                <input type="text" class="input-field" placeholder="Viết bình luận">
                            </div>
                            <div class="col-md-2">
                                <span class="post">Post</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card padxx">
                <div class="card-header">
                    <a href="#" class="nav-link pr-0 leading-none">
                        <span class="avatar" style="background-image: url(/public/img/category/post1/img1.jpeg)"></span>
                        <span class="col-md-8">
                            <span class="text-default">
                                Nguyễn Hoàng Tuấn 
                                <button class="btn-cus">
                                    Theo dõi
                                </button>
                            </span>
                            <small class="text-muted d-block mt-1">20:30 ngày 21/09 tại Đà lạt</small>
                        </span>
                    </a>
                </div>
                <div class="media-wrapper row col-md-12">
                    <div class="col-4 group-bottom">
                        <div class="form-group">
                            <img class="card-img-top" src="/public/img/category/post1/img1.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group group-bottom">
                            <img class="card-img-top" src="/public/img/category/post1/img2.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group group-bottom">
                            <img class="card-img-top" src="/public/img/category/post1/img3.jpeg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-6 group-img">
                        <div class="form-group">
                        <img class="card-img-top" src="/public/img/category/post1/img4.jpeg" alt="Card image cap">
                            
                        </div>
                    </div>
                    <div class="col-6 group-img">
                        <div class="form-group">
                            <img class="card-img-top" src="/public/img/category/post1/img5.jpeg" alt="Card image cap">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="like col-md-2 col-lg-1">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </div>
                            <div class="share">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <div class="count-like">
                            70 lượt thích
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <span class="user">
                                Nguyễn Hoàng Tuấn
                            </span>
                            <span class="description col-lg-9">
                                <!-- Một quán phù hợp với sinh viên. Có thể chạy deadline cũng như chém gió với bạn bè, cũng là nơi thích hợp để hẹn hò với người yêu đấy.
                                Giá hợp lý và nước uống cũng rất ngon, có bán kèm đồ ăn nhé! -->
                                Không hổ danh là “thành phố sống ảo”, Đà Lạt hết mực chiều lòng du khách khi liên tục cho ra đời những mô hình du lịch độc đáo mà cứ 1 mét vuông lại có thể cho ra đời nghìn tấm ảnh triệu like. Trong đó phải nhắc đến quán cà phê khiêm luôn homestay “A place like no other” đẹp như mơ và có thể ngắm Đà Lạt trên cao siêu đẹp.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="comment col-md-10">
                                <input type="text" class="input-field" placeholder="Viết bình luận">
                            </div>
                            <div class="col-md-2">
                                <span class="post">Post</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-default">Địa điểm gần đây</div> 
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <img class="card-img img-custom" src="/public/img/dalat.png" alt="Card image cap">
                                </div>                   
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <span class="text-default">Ốc Tự Nhiên</span><br>
                                    <small class="text-muted">32 Trần Phú...</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <img class="card-img img-custom" src="/public/img/dalat.png" alt="Card image cap">
                                </div>                   
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <span class="text-default">Ốc Tự Nhiên</span><br>
                                    <small class="text-muted">32 Trần Phú...</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <img class="card-img img-custom" src="/public/img/dalat.png" alt="Card image cap">
                                </div>                   
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <span class="text-default">Ốc Tự Nhiên</span><br>
                                    <small class="text-muted">32 Trần Phú...</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <img class="card-img img-custom" src="/public/img/dalat.png" alt="Card image cap">
                                </div>                   
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <span class="text-default">Ốc Tự Nhiên</span><br>
                                    <small class="text-muted">32 Trần Phú...</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
<script>
    var isGroupDetail = true;

    function getGroupDetail(){
    var ajax = new XMLHttpRequest();
    ajax.open("POST","/getGroupDetail",true);

    ajax.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            
            var response = JSON.parse(this.responseText);
            console.log(response);
            // document.getElementById("group-cover-photo").setAttribute("src", mainURL +"/"+response.data.coverPhoto);
            document.getElementById("group-members").innerHTML = response.data.members.length + "members";
            document.getElementById("group-name").innerHTML=response.data.name;

            var isMember = false;
            for(var a=0;a<response.data.members.length;a++){
                var member = response.data.members[a];

                if (member._id.toString()==user._id.toString()){
                    isMember = true;
                    break;
                }
            }

            if (isMember) {
                showAddPost();
            }

            var html = "";
            response.posts = response.posts.reverse();
            for (var a = 0; a< response.posts.length; a++) {
                var data = response.posts[a];

                html += '<div class="central-meta item">';
                    html += '<div class ="user-post">';
                        html += '<div class="friend-info">';
                            html += '<figure>';
                                html+='<img src="'+mainURL +"/"+ data.uploader.profileImage+'">';
                            html += '</figure>';

                            html += '<dic class="friend-name">';
                                html += '<ins>';
                                    html += '<a href="/user/' + data.uploader._id +'">';
                                        html += data.uploader.name;
                                    html += '</a>';
                                html += '</ins>';

                                var createdAt = new Date(data.createdAt);
                                var date = createdAt.getDate() + "";
                                date = date.padStart(2,"0") + ""+ months[createdAt.getMonth()] + ","+ createdAt.getFullYear();

                                html += '<span>Published:'+ date + '</span>';
                            html += '</div>';

                            html += '<div class="post-meta">';

                                html += '<div class="description">';
                                    html += '<p>';
                                        gtml += data.caption;
                                    html +='</p>';
                                html += '</div>';

                                if (data.image != ""){
                                    html += '<img src="' + mainURL + "/" +data.image + '">';
                                }

                                if (data.video != ""){
                                    html += '<video style="height:359px; width:100%;"controls src="'+ mainURL +"/" +data.video +'"></video>';
                                }

                                html += createLikesSection(data);

                            html += '</div>';
                        html += '</div>';

                        html += createCommentSection(data);

                    html += '</div>';
                html += '</div>';
            }
            document.getElementById("newsfeed").innerHTML = html;
        }
    };

    var formData = new FormData();
    formData.append("accessToken", localStorage.getItem("accessToken"));
    formData.append("_id",document.getElementById("_id").value);
    ajax.send(formData);
}

    function doPost(form) {
    var ajax = new XMLHttpRequest();
    ajax.open("POST","/addPost",true);

    ajax.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){

            var response = JSON.parse(this.responseText);
            alert(response.message);

            if(response.status =="success"){
                document.getElementById("form-add-post").querySelector("input [name='image']").value = "";
                document.getElementById("form-add-post").querySelector("input[name='video']").value="";
                document.getElementById("form-add-post").querySelector("textarea[name'caption']").value="";

                document.getElementById("post-img-preview").style.display = "none";
                document.getElementById("post-video-preview").style.display ="none";

                getGroupDetail();
            }
        }
    };

    form.type.value = "group_post";

    var formData = new FormData(form);
    formData.append("accessToken",localStorage.getItem("accessToken"));
    formData.append("_id",document.getElementById("_id").value);
    ajax.send(formData);

    return false;
}
</script>
<%- include ("includes/footer") %>