<link rel="stylesheet" href="/public/css/main.css">
<link rel="stylesheet" href="public/css/category.css">
<link rel="stylesheet" href="public/css/notification.css">
<%- include ("includes/header") %>
<div class="container">
    <div class="col-md-12">
        <label class="title">Notifications</label>
    </div>
    <div class="col-md-12">
        <ul id="all-notifications">
			<!-- <li>
				<div class="row">
					<div class="col-md-2 col-lg-1">
						<img class="img-noti" src="/public/img/dalat.jpeg" alt="">
					</div>
					<div class="col-md-10 col-lg-11">
						<span class="description">
							Hứa Phước Thanh sent a request to join your tour.
						</span>
					</div>
				</div>
			</li> -->
		</ul>
    </div>
</div>

<script>
	var isNotifications = true;

	function showNotifications() {
		var html = "";

		var notifications = window.user.notifications.reverse();

		console.log(notifications);

		for (var a = 0; a < notifications.length; a++) {
			var data = notifications[a];
			html += '<li class="padxx">';
				if (data.type == "new_comment" || data.type == "photo_liked")
				{
					html += "<a href='/post/" + data.post._id + "'>";
				}
				if (data.type == "tour_join_request")
				{
					html += "<a href='/tour/" + data.tourId + "'>";
				}
				if (data.type == "tour_invite_join")
				{
					html += "<a href='/tourrequest/" + data.tourId + "'>";
				}
					html+='<div class="row">'
						html+='<div class="col-md-2 col-lg-1">'
							html+='<i class="img-noti far fa-bell"></i></div>'
						html+='<div class="col-md-10 col-lg-11">'
							html+='<span class="description">'
								html+= data.content
								html+='<br>'
								var createdAt = new Date(data.createdAt);
								var date = createdAt.getDate() + "";
								date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
								date += " " + createdAt.getHours() + ":" + createdAt.getMinutes();
								html += '<span>' + date + '</span>';
							html+='</span></div></div>'
				if (data.type == "tour_invite_join")
				{
					html += "</a>";
				}
				if (data.type == "new_comment" || data.type == "photo_liked")
				{
					html += "</a>";
				}
				if (data.type == "tour_join_request" || data.type == "tour_invite_join")
				{
					html += "</a>";
				}

			html += '</li>';
		}

		document.getElementById("all-notifications").innerHTML = html;
    }
    function acceptRequestJoinGroup(self) {
			
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/acceptRequestJoinGroup", true);
			ajax.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					if(response.status == "success"){
						self.remove();
					}
					else{
						alert(response.message);
					}
					
				}
			};
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", self.getAttribute("data-id"));
			formData.append("groupId", self.getAttribute("data-groupId"));
			formData.append("userId", self.getAttribute("data-userId"));
			ajax.send(formData);
		}
    function rejectRequestJoinGroup(self) {
			
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/rejectRequestJoinGroup", true);
			ajax.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					if(response.status == "success"){
						self.nextElementSibling.remove();
						self.remove();
					}
					else{
						alert(response.message);
					}
					
				}
			};
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", self.getAttribute("data-id"));
			formData.append("groupId", self.getAttribute("data-groupId"));
			formData.append("userId", self.getAttribute("data-userId"));
			ajax.send(formData);
		}
    function markNotificationsAsRead() {
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/markNotificationsAsRead", true);
			ajax.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					console.log(response);
					if (response.status == "success") {
						//
					} else {
						alert(response.message);
					}
				}
			};
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			ajax.send(formData);
        }

</script>

<%- include ("includes/footer") %>