<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<link rel="stylesheet" type="text/css" href="/public/css/profile.css">
<%- include ("includes/header") %>
<div class="container container-custom">
    <div class="col-md-12 form-group" style="padding-top: 10px;">
        <span class="title">Trang chủ/ Tìm kiếm</span>
    </div>
    <div class="col-md-12">
        <ul class="col-md-12 nav" id="myTab" role="tablist" style="justify-content: center;">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#people" role="tab" aria-controls="home" aria-selected="true">People</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pages" role="tab" aria-controls="profile" aria-selected="false">Tours</a>
            </li>
            <!-- <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="contact" aria-selected="false">Groups</a>
            </li> -->
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="home-tab">
            <div class="container container-custom">
                <div class="col-md-12 col-lg-7 offset-md-2">
                    <div class="result" id="search-results">

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-custom">
                <div class="col-md-12">
                    <div class="container">
                        <div class="result" id="search-results-groups">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="query" value="<%= query %>">

<script>
    var isSearchResults = true;
    function toggleJoinGroup(self){
        var ajax = new XMLHttpRequest();
        ajax.open("POST","/toggleJoinGroup",true);

        ajax.onreadystatechange=function(){
            if (this.readyState==4&&this.status==200){
                var response = JSON.parse(this.responseText);

                if(response.status=="success"){
                    self.className = "add-butn btn-unfriend";
                    self.innerHTML = "Leave";
                }
                if (response.status == "leaved"){
                    self.className = "add-butn";
                    self.innerHTML = "Join";
                }

                if (response.status == "error") {
                    alert(response.message);
                }
            }
        };
        var formData = new FormData();
        formData.append("accessToken",localStorage.getItem("accessToken"));
        formData.append("_id", self.getAttribute("data-id"));
        ajax.send(formData);
    }
	function showSearchResults() {
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/search", true);

		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = JSON.parse(this.responseText);
                console.log(response);
				if (response.status == "success") {
					var html = "";
					for (var a = 0; a < response.data.length; a++) {
						var data = response.data[a];

						if (data._id == window.user._id) {
							continue;
                        }
                        var isFriend = false;
                        for (var b = 0;b<window.user.friends.length; b++){
                            var tempData = window.user.friends[b];
                            if(tempData._id == data._id) {
                                isFriend = true;
                                break;
                            }
                        }
                        html+='<div class="row padx">';
                            html+='<i style="padding-top: 7px;" class="col-2 col-md-2 fas fa-user"></i>';
                            html += '<h4 class="col-10 col-md-10">';
                                html += '<a href="/user/' + data.username + '">' + data.name + '</a>';
                                if (isFriend) {
                                        html += '<a href="javascript:void(0);" data-id="' + data._id + '"onclick="doUnfriend(this);" style="float:right; text-decoration: none;" class="add-butn button btn-unfriend">Unfriend</a>';
                                    } 
                                else {
                                        html += '<a href="javascript:void(0);" data-id="' + data._id + '"onclick="sendFriendRequest(this);" style="float:right; text-decoration: none;" class="add-butn button">Add friend</a>';
                                    }
                            html += '</h4>';
						html+='</div>'
					}

                    document.getElementById("search-results").innerHTML = html;
                    var html = "";
                    for (var a=0; a< response.tour.length;a++){
                        var data = response.tour[a];

                        var isMember =false;
                        console.log(window.user);
                        for(var b = 0;b< window.user.tours.length; b++){
                            var tempData = window.user.tours[b];
                            if (tempData._id.toString()== data._id.toString()){
                                isMember = true;
                                break;
                            }
                        }
                        html+='<div class="row padx">';
                            html+='<i style="padding-top: 7px;" class="col-md-2 col-2 fas fa-user"></i>';
                            html += '<h4 class="col-10 col-md-10">';
                                html += '<a href="/tour/' + data._id +'">'+data.tenChuyenDi + ' : ' + data.diemBatDau + ' - ' + data.diemKetThuc + '</a>';
                                if(localStorage.getItem("accessToken")){
                                    if (isMember){
                                        html += '<a style="float:right; text-decoration: none;" href="javascript:void(0);"data-id="'+ data._id +'"onclick="doRejectTour(this);"class="add-butn btn-unfriend button">Leave</a>';
                                    } else {
                                        html += '<a style="float:right; text-decoration: none;" href="javascript:void(0);"data-id="'+ data._id +'"onclick="toggleJoinTour(this);"class="add-butn button">Join</a>';
                                    }
                                }
                            html += '</h4>';
                        html+='</div>' 
                        
                        document.getElementById("search-results-groups").innerHTML = html;
                        
                    }

				} else {
					alert(response.message);
				}
			}
		};

		var formData = new FormData();
		formData.append("query", document.getElementById("query").value);
		ajax.send(formData);
    }
    function sendFriendRequest(self) {
        var _id = self.getAttribute("data-id");
        var ajax = new XMLHttpRequest();
        ajax.open("POST","/sendFriendRequest",true);
        ajax.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                alert(response.message);
                self.remove();
            }
        };
        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        formData.append("_id",_id);
        ajax.send(formData);
    }

    function doUnfriend(self){
        var _id = self.getAttribute("data-id");

        var ajax = new XMLHttpRequest();
        ajax.open("POST","/unfriend",true);
        ajax.onreadystatechange = function() {
            if (this.readyState ==4 && this.status ==200){
                var response = JSON.parse(this.responseText);
                alert(response.message);
                self.remove();
            }
        };
        var formData = new FormData();
        formData.append("accessToken",localStorage.getItem("accessToken"));
        formData.append("_id",_id);
        ajax.send(formData);
    }

    function doAcceptTour(self){
        var _id = self.getAttribute("data-id");
        var tourId = self.getAttribute("tourId");
        var ajax = new XMLHttpRequest();
        ajax.open("POST","/acceptRequestJoinTour", true);
        ajax.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                var response = JSON.parse(this.responseText);
                if(response.status =="success"){
                    Swal.fire({
                        title: 'Congratulations!',
                        text: 'Chấp nhận thành viên thành công',
                        icon: 'success',
                        timer: 1500
                    })
                }
                else{
                    Swal.fire({
                        title: 'Error!',
                        text: response.message,
                        icon: 'error',
                        timer: 1500
                    })
                    setTimeout(function() {
                        location.reload();
                    }, 1500); 
                }
                self.remove();
            }
        };
        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        formData.append("_id",_id);
        formData.append("tourId",tourId);
        ajax.send(formData);
    }
    function doRejectTour(self){
        var _id = self.getAttribute("data-id");
        var tourId = self.getAttribute("tourId");
        var ajax = new XMLHttpRequest();
        ajax.open("POST","/rejectRequestJoinTour",true);
        ajax.onreadystatechange = function() {
            if (this.readyState ==4 && this.status ==200){
                var response = JSON.parse(this.responseText);
                if(response.status =="success"){
                    Swal.fire({
                        title: 'Congratulations!',
                        text: 'Từ chối thành viên thành công',
                        icon: 'success',
                        timer: 1500
                    })
                }
                else{
                    Swal.fire({
                        title: 'Error!',
                        text: response.message,
                        icon: 'error',
                        timer: 1500
                    })
                    setTimeout(function() {
                        location.reload();
                    }, 1500); 
                }
                self.remove();
            }
        };
        var formData = new FormData();
        formData.append("accessToken",localStorage.getItem("accessToken"));
        formData.append("_id",_id);
        formData.append("tourId",tourId);
        ajax.send(formData);
    }

    function toggleJoinTour(self){
            var ajax = new XMLHttpRequest();
            ajax.open("POST","/toggleJoinTour",true);

            ajax.onreadystatechange=function(){
                if (this.readyState==4&&this.status==200){
                    var response = JSON.parse(this.responseText);

                    if(response.status=="success"){
                        self.className = "add-butn btn-unfriend";
                        self.innerHTML = "Leave";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã tham gia nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }
                    if (response.status == "leaved"){
                        self.className = "add-butn";
                        self.innerHTML = "Join";
                        Swal.fire({
                            title: 'Congratulations!',
                            text: 'Bạn đã rời nhóm thành công',
                            icon: 'success',
                            timer: 2500
                        })
                    }

                    if (response.status == "error") {
                        Swal.fire({
                            title: 'Error!',
                            text: response.message,
                            icon: 'error',
                            timer: 2500
                        })
                    }
                }
            };
            var formData = new FormData();
            formData.append("accessToken",localStorage.getItem("accessToken"));
            formData.append("_id", self.getAttribute("data-id"));
            ajax.send(formData);
        }

</script>
<%- include ("includes/footer") %>